.banner_container {
    height: calc(100vh - 50px);
    width: 100%;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0%;
    background-color: black;
}

.image_container {
    height: 100%;
    width: 33.33%;
    overflow: hidden;
}

.banner_image {
    height: 100%;
    width: auto;
    transition: all 0.3s ease-in-out;
    opacity: 80%;
    transform: scale(1.2) translate(130px,0px);
}

.banner_image:hover {
    transform: scale(1.27) translate(130px,0px);
    opacity: 100%;
}

.banner_title {
    position: absolute;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    color: #FFFF;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    bottom: 20%;
    left: auto;
    z-index: 2;
    transform: scale(1) translate(100px,0px);
}